@import "../../../css-config/mixins.scss";
.singleWork-container {
  font-family: "Inconsolata", monospace;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.553);
  backdrop-filter: blur(5px);
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .work-left {
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .work-content {
    padding: 0px 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}
