@import "../../../css-config/mixins.scss";
.moreWork-container {
  //   height: 100vh;
  position: relative;
  z-index: -99;
  // background-color: white;
  .moreWork-layout {
    height: 100%;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
    @include md {
      //   flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      max-width: 1400px;
    }
    .diff-title {
      font-family: "Tektur", cursive;
      margin: 4% 0;
      //   text-align: left;
      font-size: 20px;
      @include md {
        font-size: 40px;
      }
    }
    .row {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;
      // background-color: #d6c2e4;
      //   border: 2px solid red;
      margin: 4%;
      width: 90%;
      // height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include md {
        border-radius: 20px;
        flex-direction: row;
        height: 500px;
        margin: 2%;
      }
      div {
        // border: 2px solid green;
        height: 90%;
        width: 100%;
        margin: 0 2%;
        overflow: hidden;
        img {
          //   border: 2px solid blue;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          text-align: center;
          font-family: "Tektur", cursive;
          padding: 4%;
          font-size: 16px;
          @include md {
            font-size: 30px;
            padding: 2%;
          }
        }
        p {
          padding: 4%;
          font-size: 12px;
          text-align: center;
          @include md {
            text-align: left;
            font-size: 20px;
            padding: 2%;
          }
        }
      }
    }
    .row1 {
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    }
    .row2 {
      background-color: #21d4fd;
      background-image: linear-gradient(19deg, #21d4fd 0%, #cb7af2 100%);
      background-color: #8bc6ec;
      flex-direction: column-reverse;
      @include md {
        flex-direction: row;
      }
    }
    .row3 {
      background-color: #85ffbd;
      background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    }
    .row4 {
      background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
      flex-direction: column-reverse;
      @include md {
        flex-direction: row;
      }
    }
  }
}
