@import "../../../css-config/mixins.scss";
.about-container {
  font-family: "Inconsolata", monospace;

  height: 100vh;
  .about-layout {
    height: 100%;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    @include md {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      max-width: 1400px;
    }
    .right {
      background-color: #ffb100;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      // border: 2px solid black;
      padding: 0 50px;
      width: 50%;
      height: 450px;
      //   border: 2px solid red;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @include md {
        height: 680px;
      }
      .about-title {
        font-family: "Tektur", cursive;
        font-size: 25px;
        @include md {
          font-size: 40px;
        }
      }
      .about-desc {
        font-size: 12px;
        ol {
          // list-style: disc !important;
          padding: 0 !important;
          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 6px;
            padding-bottom: 6px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.074);
            .list-content {
              width: 100%;
              span {
                font-family: "Bebas Neue", sans-serif;

                margin-right: 8%;
              }
            }
            svg {
              margin-right: 2px;
              font-weight: lighter;
              font-size: 28px;
            }
          }
        }
        @include md {
          font-size: 24px;
        }
      }
    }
  }
}
