@import "../../../css-config/mixins.scss";
.services-container {
  // height: 120vh;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 5%;
  padding-bottom: 4%;
  .services-layout {
    height: 100%;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    @include md {
      //   flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      max-width: 1400px;
    }
    .services-title {
      color: white;
      font-family: "Tektur", cursive;
      //   text-align: left;
      font-size: 25px;
      @include md {
        font-size: 40px;
      }
    }
    .services-rack {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
