@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
*,
html,
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.webgl {
  /* Just to toggle 3d element */
  display: none;
  z-index: 0;
  /* width: 100px; */
  /* height: 100px; */
  /* border: 2px solid red; */
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  outline: none;
}
